<!-- <h1>Counter App</h1>
<div style="text-align: center;">
  <h2 class="count">{{count}}</h2>
  <div class="container">
    <button (click)="handlecount('minus')" class="btn-red">Decrement</button>
    <button (click)="handlecount('reset')" class="btn-gray">Reset</button>
    <button (click)="handlecount('plus')" class="btn-green">Increment</button>
  </div>
</div>

<h1>Get and Set Input Field value</h1>
<h1>user name is : {{displayName}}</h1>
<input type="text" value="{{val}}" (input)="getName($event)"  placeholder="Enter user name">
<br>
<br> -->
<!-- <button (click)="showName()">
  Get value
</button>

<button (click)="setName()">Set Name</button>



<h1>If-Else condition</h1>
<button (click)="hide()">Hide div</button>
<button (click)="show()">Show function</button>

<button (click)="toggle()">
  Toggle
</button>
@if(display){
   <div style="height: 100px; width: 100px; background-color: green;">

   </div> 
}-->
<!--    
<h1>For Loops in Angular 21</h1>

@for(user of users ; track user){
  <h2> {{user}} </h2>
}
<h1>
  To-Do list
</h1>
<input  [(ngModel)]="task" type="text" placeholder="enter your task">
<button (click)="addTask()" >
     Add Task
</button>
@for(task of taskList;track task.id){
    <ul>
      <li>
        {{task.id}}
      </li>
      <li>
        {{task.task}}
      </li>
      <li>
        <button (click)="delete(task.id)" >Delete</button>
      </li>
    </ul>
}
<!-- 
<h1>Effects</h1>
<h1>
  {{userName()}}
</h1>

<button (click)="userName.set('sam')" >updateValue</button>
 -->

<!-- <h1>for loop contextual variable</h1>
@for(user of users; track user ; let i =$index){
  <h3>
    this is our {{i+1}}
    {{user}}
  </h3>
} -->
<!-- 
<h1>Two way binding</h1>

  <input  [(ngModel)]="name" type="text" placeholder="enter the data">


<h1>
  {{name}}
</h1> -->

<!-- 
<h1>
  To-Do list
</h1>
<input  [(ngModel)]="task" type="text" placeholder="enter your task">
<button (click)="addTask()" >
     Add Task
</button>
@for(task of taskList;track task.id){
    <ul>
      <li>
        {{task.id}}
      </li>
      <li>
        {{task.task}}
      </li>
      <li>
        <button (click)="delete(task.id)" >Delete</button>
      </li>
    </ul>
}

<h1>Directive</h1>
<ul>
  <li *ngFor="let x of students">
    {{x}}

  </li>
</ul> -->

<app-header></app-header>


<router-outlet>

</router-outlet>


<!-- <h1>Basic Of React forms</h1>
 <form action="" [formGroup]="profileForm" (ngSubmit)="onSubmit()"> 
        <input type="text" placeholder="enter name" formControlName="name" >
         <span *ngIf="name?.hasError('required')">Name is Required</span>
          <span *ngIf="name?.invalid &&(name?.dirty||name?.touched)">provide user name</span>
        <br>
        <br>
        <input type="text" placeholder="enter password" formControlName="password" >
        <br>
        <br>
        <input type="text" placeholder="enter mail" formControlName="email">
        <button (click)="onSubmit()">Submit</button>

        

        <h3>
          {{name.value}}
        </h3>
        <h3>
          {{password.value}}
        </h3> 
 </form>  -->

 <h1>template form</h1>

 <form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)" >
     <input type="text" required placeholder="enter input field" name="name" ngModel>
     <span>name is required</span>
     <br>
     <br>
      <input type="text" placeholder="enter password" name="password" ngModel>
     <br>
     <br>

      <button>Add User</button>
 </form>